[Unit]
Wants=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=/etc/webserver-oob.conf
ExecStart=/usr/bin/node /usr/share/webserver-oob/webserver.js

[Install]
WantedBy=multi-user.target
